<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macw.wwdoc.mapper.CategoryMapper">

    <resultMap id="listTreeSelectVoMap" type="com.macw.wwdoc.entity.vo.TreeSelectVo">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <collection property="children" ofType="com.macw.wwdoc.entity.vo.TreeSelectVo">
            <id column="id2" property="id"></id>
            <result column="name2" property="name"></result>
        </collection>
    </resultMap>
    <select id="listTreeSelectVo" resultMap="listTreeSelectVoMap">
        SELECT
        cate1.category_id AS id,
        cate1.category_name AS `name`,
        cate2.category_id AS id2,
        cate2.category_name AS name2
        FROM
        api_category AS cate1
        LEFT JOIN api_category AS cate2 ON cate1.category_id = cate2.parent_id
        WHERE
        cate1.project_id = #{proId}
        and cate1.parent_id = 0


    </select>

    <resultMap id="listMenuVoMap" type="com.macw.wwdoc.entity.vo.MenuVo">
        <id column="mid" property="menuId"></id>
        <result column="href" property="href"/>
        <result column="title" property="title"/>
        <result column="icon" property="icon"/>
        <collection property="child" ofType="com.macw.wwdoc.entity.vo.MenuVo">
            <id column="cid" property="menuId"></id>
            <result column="chref" property="href"/>
            <result column="ctitle" property="title"/>
            <result column="cicon" property="icon"/>
        </collection>
    </resultMap>
    <select id="listMenuVo" resultMap="listMenuVoMap">
         SELECT
            menu.category_id mid,
            menu.url href,
            menu.category_name title,
            menu.icon icon,
            child.category_id cid,
            child.url chref,
            child.category_name ctitle,
            child.icon cicon
            FROM
            api_category AS menu
            LEFT JOIN api_category AS child ON menu.category_id = child.parent_id
            WHERE
            menu.`create_id` = #{userId} AND
            menu.parent_id = 0 AND
            menu.project_id = #{proId}
            ORDER BY menu.create_time DESC

    </select>
</mapper>
