<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="views/include :: header('项目列表')"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link th:href="@{/assets/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">
    <style>
        .top-panel {
            border: 1px solid #eceff9;
            border-radius: 5px;
            text-align: center;
        }

        .top-panel > .layui-card-body {
            height: 60px;
        }


        .top-panel-number {
            line-height: 60px;
            font-size: 30px;
            border-right: 1px solid #eceff9;
        }

        .top-panel-tips {
            line-height: 30px;
            font-size: 12px
        }
    </style>
</head>
<body>
<!--<div class="layuimini-container">-->
<div class="layuimini-main">

    <div class="layui-row layui-col-space15">
        <div th:each="project,projectList : ${projectList}" class="layui-col-xs12 layui-col-md3">
            <div class="layui-card top-panel">
                <div class="layui-card-body">
                    <div class="layui-row layui-col-space5">
                        <div th:text="${project.proName}" class="layui-col-xs9 layui-col-md9 top-panel-number"></div>
                        <div class="layui-col-xs3 layui-col-md3 top-panel-tips">
                            <a href="/project/info/{{.Id}}" class="layui-btn layui-btn-xs layui-btn-radius">
                                项目设置</a><br>

                            <a href="/project/env/{{.Id}}"
                               class="layui-btn layui-btn-xs layui-btn-radius layui-btn-normal"> 团队成员</a><br>
                         <!--   <a href="/project/info/{{.Id}}" class="layui-btn layui-btn-danger layui-btn-xs layui-btn-radius">删除项目</a><br>-->
                        </div>
                    </div>
                </div>
                <div th:text="${project.despection}" class="layui-card-header"></div>
            </div>
        </div>

        <div class="layui-col-xs12 layui-col-md3"  id="add">
                <div class="layui-card top-panel">
                    <div class="layui-card-body">
                        <div class="icon">
                            <i class="img-responsive fa fa-plus" style="font-size: 90px;color: #dadada;"></i>
                        </div>
                    </div>
                    <div class="layui-card-header">新增项目</div>
                </div>
        </div>

    </div>


</div>
<!--</div>-->
<script>
    layui.use(['layer', 'echarts'], function () {
        var $ = layui.jquery,
            layer = layui.layer,
            echarts = layui.echarts;

        $("#add").click(function () {
            layer.open({
                title: "添加项目",
                content: "/project/toEdit",
                type: 2,
                maxmin: true,
                area: ['690px', '700px'],
                maxmin: true,
                end: function () {
                    window.location.reload();
                }
            });
        })

    });



</script>

</body>
</html>